# API
PORT=3333

# Postgres (docker-compose)
POSTGRES_USER=momentos
POSTGRES_PASSWORD=momentos
POSTGRES_DB=momentos
POSTGRES_PORT=5432

# Backend usa esta URL (Prisma)
DATABASE_URL=postgresql://momentos:momentos@localhost:5432/momentos?schema=public
